.crd {
    display:block;
    background-color: #fff;
    width: 286.14px !important;
    height: 163.36px;
    border-radius: 10.6768px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.ico {
    width: 62.99px;
    height: 62.99px;
    margin-left: 20.5px;
    margin-bottom: 10px;
    box-shadow: none !important;
}

.no-deco {
    text-decoration: none !important;
    color: black !important;
}

.no-deco-card {
    text-decoration: none;
    color: black !important;
    display:block;
    width: 286.14px !important;
    height: 163.36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.no-deco-card :hover{
    color: black !important;
    text-decoration: none !important;
    box-shadow: rgba(14, 139, 255, 0.445) 0px 1px 2px 0px, rgba(14, 139, 255, 0.445) 0px 2px 6px 2px;

}


.crd-txt {
    box-shadow: none !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 21.3536px;
    line-height: 25px;
}

@media screen and (max-width: 576px) {
    .crd{
        margin-bottom: 0px;
    }
}
