.crd {
    display:block;
    background-color: #fff;
    width: 286.14px !important;
    height: 163.36px;
    border-radius: 10.6768px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.ico {
    width: 62.99px;
    height: 62.99px;
    margin-left: 20.5px;
    margin-bottom: 10px;

}

.no-deco {
    text-decoration: none;
    color: black;
}

.no-deco-card {
    text-decoration: none;
    color: black;
    display:block;
    width: 286.14px !important;
    height: 163.36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.crd-txt {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 21.3536px;
    line-height: 25px;
}

@media screen and (max-width: 576px) {
    .crd{
        margin-bottom: 0px;
    }
}
