.nav {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-left: 130px;
    margin-top: 1.938rem;
}
.logo{
    margin-left: 0px;
}

.headline {
    font-weight: bold;
    font-size: 42px;
    line-height: 165.02%;   
    margin-top: 87px;
    margin-bottom: 52px;
}

@media screen and (max-width: 576px) {
    .nav {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-top: 1.938rem;
        
    }
    .sm-gray {
        background-color: #F5F7FB;
    }
    .headline {
        margin-top: 0.6rem;
        font-size: 26px;
        line-height: 165.02%;
        text-align: center;
        line-height: 42.91px;
        margin-bottom: 0px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 25px;
    }
    .nav {
        margin-top: 1rem;
    }
}