.sponsored {
    margin-left: 20px !important;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight:lighter;
    font-size: 9.15302px;
    line-height: 130%;
    letter-spacing: 0.2em;
    color: #A9ACC4;
}